.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  font-family: var(--font-family);
}


.main-content {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-xl);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

.app-footer {
  background-color: var(--dark-gray);
  color: var(--white);
  text-align: center;
  padding: var(--spacing-md);
  margin-top: auto;
}

.app-footer p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: var(--font-regular);
  color: var(--white);
}